<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.epidemic.dao.IRecordDao">

    <resultMap type="Record" id="recordResultMap">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="mobile" column="mobile" />
    </resultMap>

    <!-- 查询指定id的商家 -->
    <select id="findById" resultMap="recordResultMap">
        <![CDATA[
            SELECT * FROM `record` WHERE `id` = #{id}
        ]]>
    </select>

    <!-- 查询所有商家 -->
    <select id="findAll" resultMap="recordResultMap">
        <![CDATA[
            SELECT * FROM `record`
        ]]>
    </select>

</mapper>